.container {
    height: 100vh
}

.mw {
    max-width: 550px;
}

.text-decoration-none {
    text-decoration: none;
}

#text:focus, button[type="button"]:focus {
    border-color: #F14C5A !important;
    box-shadow: 0 0 0 0.2rem rgba(241, 76, 90,.25) !important;
}

.disabled {
    background-color: transparent !important;
}

button:hover {
    opacity: 0.8;
}

.text-color {
    color: #F14C5A !important;
}

.bg-color {
    background-color: #F14C5A;
}

.bg-semi-transparent {
    background-color: rgba(255, 255, 255, 0.2) !important;
    border-color: rgba(255, 255, 255, 0.3) !important;
}

.bg-semi-transparent::placeholder {
    color: rgba(255, 255, 255, 0.4) !important
}

.border-color {
    border-color: rgba(255, 255, 255, 0.3) !important
}